:root {
    --brand-light-color: #5a656f;
    --brand-color: #343c43;
    --invert-color: #EF6C00;
    --invet-light-color: #ff9f50;
    --green: #1f7d20;
}

body,
html {
    height: 100%;
}

body {
    padding-top: 100%;
    font-family: 'Catamaran', sans-serif;
}

#brand {
    height: 100%;
    background-color: #161a1d;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#fill-top {
    height: 7px;
    width: 100%;
    background-color: var(--green);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
}

#img-logo {
    width: 40%;
    margin-top: -5%;
    z-index: 2;
}

#main-nav {
    display: flex;
    height: 50px;
    margin-top: -50px;
    background-color: #343c43;
    position: absolute;
    width: 100%;
    z-index: 1;
    box-shadow: 0px -1px 5px black;
}

#main-nav a {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

#main-nav a:hover,
#main-nav a:focus {
    background-color: #666b6f;
}

section {
    background-color: white;
    z-index: 1;
    position: relative;
    overflow: hidden;
    height: 500px;
}

section h2 {
    font-size: 2em;
    color: #161a1d;
    text-align: center;
    font-weight: 900;
    text-decoration: underline;
}

section h4 {
    font-size: 2em;
    color: #535353;
    text-align: center;
    margin-top: 3em;
}

.social-container {
    position: absolute;
    top: 3%;
    right: 10px;
    padding: 0;
    margin: 0;
    text-align: right;
}

.social-container li {
    list-style: none;
    margin-bottom: 10px;
}


.social-container a {
    color: #9c9c9c;
    font-size: 1.2em;
    text-decoration: none;
}

.social-container a:hover,
.social-container a:focus {
    color: white;
}

#sobre {}

#programacao {}

#patrocinadores {}

#contato {}


footer {
    height: 100px;
}

/* tablet */

@media only screen and (max-width: 767px) {
    .show-xs {
        display: block !important;
    }
    .hidden-xs {
        display: none !important;
    }
    .show-xs.flex {
        display: flex !important;
    }

    #img-logo {
        width: 70%;
    }
}

@media only screen and (min-width: 768px) {
    .show-xs {
        display: none !important;
    }

}

/* tablet */

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    #img-logo {
        width: 50%;
    }
}

/* pc */

@media only screen and (min-width: 1200px) {}