:root {
    --brand-light-color: #5a656f;
    --brand-color: #343c43;
    --invert-color: #EF6C00;
    --invet-light-color: #ff9f50;
    --green: #1f7d20;
}

body,
html {
    height: 100%;
}

body {
    padding-top: 100%;
    font-family: 'Catamaran', sans-serif !important;
}

#brand {
    height: 100%;
    background-color: #161a1d;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#fill-top {
    height: 7px;
    width: 100%;
    background-color: var(--green);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
}

#img-logo {
    width: 40%;
    margin-top: -5%;
    z-index: 2;
}

#main-nav {
    display: flex;
    height: 50px;
    margin-top: -50px;
    background-color: #343c43;
    position: absolute;
    width: 100%;
    z-index: 1;
    box-shadow: 0px -1px 5px black;
}

#main-nav a {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

#main-nav a:hover,
#main-nav a:focus {
    background-color: #666b6f;
}

section {
    background-color: white;
    z-index: 1;
    position: relative;
    overflow: hidden;
    padding-bottom: 30px;
}

section h2.title {
    font-size: 2em;
    color: #161a1d;
    text-align: center;
    font-weight: 900;
    text-decoration: underline;
    margin: 1em 0;
}

section h4 {
    font-size: 2em;
    color: #535353;
    text-align: center;
    margin-top: 3em;
}

.social-container {
    position: absolute;
    top: 3%;
    right: 10px;
    padding: 0;
    margin: 0;
    text-align: right;
}

.social-container li {
    list-style: none;
    margin-bottom: 10px;
}

.fadeBox {
    opacity: var(--o);
}

.social-container a {
    color: #9c9c9c;
    font-size: 1.2em;
    text-decoration: none;
}

.social-container a:hover,
.social-container a:focus {
    color: white;
}

#sobre {}

#programacao {}

#patrocinadores {}

#contato {}

.text {
    font-size: 1.2em;
    line-height: 1.5;
    text-align: justify;
    margin: 5px 0;
}

footer {
    height: 200px;
    background-color: var(--brand-color);
    z-index: 2;
    position: relative;
}

.img-proposta {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    display: block;
}

.dias-evento {
    color: white;
    position: absolute;
    bottom: 10px;
    font-size: 3em;
}

.proposta h2 {
    font-weight: bold;
    font-size: 1.5em;
}

.programacao-container .title {
    font-size: 1.2em;
}

.programacao-container .title small {
    font-size: .9em;
    color: var(--brand-light-color);
}

.programacao-container .card-content {
    padding: .5rem
}

.palestrante-img {
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.9);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.palestra-nome {
    margin: 0;
    display: inline-block;
}

.palestra-container {
    box-shadow: 0 2px 3px hsla(0, 0%, 4%, .1), 0 0 0 1px hsla(0, 0%, 4%, .1);
    padding: 5px 5px;
    /* margin-bottom: 5px; */
}

.palestra-container:not(:last-child) {
    margin-bottom: 10px;
}

.palestra-container .header {
    display: flex;
    flex-direction: column;
}

.palestra-container.aDefinir {
    opacity: .5;
}

.palestra-container .header .horario {
    font-weight: bold;
    font-size: 1.1em;
    margin: 0;
    color: var(--brand-light-color);
    text-align: left;
}

.palestra-container .header .nome {
    font-weight: 700;
    font-size: 1.1em;
    display: block;
    text-align: center;
    flex: 1
}

.palestra-container .descricao {
    text-align: justify;
}

.palestra-container .palestrante {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: .5px solid #d4d4d4;
    padding-top: 5px;
}

.palestra-container .palestrante img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
}

.palestra-container .palestrante .nome {
    flex: 1;
    text-align: left;
    font-weight: bold;

}

.patrocinadores-container {
    padding: 10px 0;
}

.patrocinadores-container .header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.patrocinadores-container h2,
#contato h2 {
    font-weight: 700;
    font-size: 1.5em;
}

.patrocinadores-container .header img {
    margin-right: 5px;
    box-shadow: 0 2px 3px hsla(0, 0%, 4%, .1), 0 0 0 1px hsla(0, 0%, 4%, .1);
}

.img-cota {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.palestra-container .palestrante .contatos {}

/* tablet */

@media only screen and (max-width: 767px) {
    .show-xs {
        display: block !important;
    }

    .hidden-xs {
        display: none !important;
    }

    .show-xs.flex {
        display: flex !important;
    }

    #img-logo {
        width: 70%;
    }

    .text,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding: 0 5% !important;
    }

}

.text-center {
    text-align: center;
}


@media only screen and (min-width: 768px) {
    .show-xs {
        display: none !important;
    }

}

/* tablet */

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    #img-logo {
        width: 50%;
    }
}

/* pc */

@media only screen and (min-width: 1200px) {}

@media screen and (max-width: 25em) {
    body {
        font-size: 90%;
    }
}